@media (max-width: 399px) {
    .secProjects .container .row .col-lg-12 .client-logo-slider .owl-controls .owl-nav{
        display: none;
    }
}
@media (min-width:400px) and (max-width: 575.98px) {
    .secProjects .container .row .col-lg-12 .client-logo-slider .owl-controls .owl-nav{
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    .secProjects .container .row .col-lg-12 .client-logo-slider .owl-controls .owl-nav{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .secProjects .container .row .col-lg-12 .client-logo-slider .owl-controls .owl-nav{
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {

.secProjects .container .row .col-lg-12 .client-logo-slider .owl-controls .owl-nav{
    display: none;
}
}
@media (min-width: 1200px) {
    .secProjects .container .row .col-lg-12 .client-logo-slider .owl-controls .owl-nav{
        display: flex !important;
        margin-top: 50px !important;
    }
    .secProjects .container .row .col-lg-12 .client-logo-slider .owl-controls .owl-nav .owl-prev{
        margin-right: 1215px !important;
    }
    .secProjects .container .row .col-lg-12 .client-logo-slider .owl-controls .owl-nav .owl-next{
        margin-right: 15px !important;
    }
}