*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    direction: rtl;
}
body{
    background-color: #eceff1;
    font-family: Careem;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #38F4B1 !important;
}
@font-face {
    font-family: Careem;
    src: url(../webfonts/Careem\ Regular.ttf);
}
.nabBarhead{
    background-color:#232927 ;
}
.navSearch{
    background-image: -moz-linear-gradient( 45deg, rgb(26,127,104) 0%, rgb(0,166,107) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(26,127,104) 0%, rgb(0,166,107) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(26,127,104) 0%, rgb(0,166,107) 100%);
}
.aNavHead{
    color: #fff !important;
}
.divImgHead{
    width: 10%;
    margin-left: 50px;
}
.divImgHead img{
    width: 100%;
    height: auto;
}
.txtSearchHead{
    margin-right: unset;
    margin-left: .5rem!important;
}
.btnSearchHead{
    border-color: #fff;
    color:#fff;
    background-color: transparent;
}
.divIconsHead{
    color: #fff;
}
.divIconsHead i{
    margin-left: 20px;
}
.btnLogHead{
        margin-left: 20px;
        border:none;
        border-radius: 10px;
        background-color: rgb(102, 187, 176);
        width: 145px;
        height: 43px;
}
.imgCurousel{
height: 500px;
}
.imgCurousel img{
    height: auto;
    position:relative;
}
.overImgSlider{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hSahelSlider{
    font-size: 19.44pt;
    color: #fff;
    font-weight: bold;
}
.pSahelSlider{
    color: rgb(224, 255, 18);      
    font-size: 18.44pt;
}
.rightBox{
    height: 150px;
    background-color: rgb(1, 125, 111);
}
.leftBox{
    height: 150px;
    background-color: rgb(0, 165, 107);
}
.boxProgramming{
    background-color: #f1b136;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top:30px ;
    padding-bottom:20px ;
    height: 150px;
}
.iconCodeImg{
    margin-bottom: 13px;
    width: 40px;
}
.boxProgramming p,.boxDesign p,.boxMarketing p,.boxTranining p{
    font-size: 10pt;
    font-weight: bold;
}
.boxDesign{
    background-color: #2fa278;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top:30px ;
    padding-bottom:20px ;
    height: 150px;
}
.boxMarketing{
    background-color: #44b8cb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top:30px ;
    padding-bottom:20px ;
    height: 150px;
}
.boxTranining{
    background-color: #ff4f58;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top:30px ;
    padding-bottom:20px ;
    height: 150px;
}
.colColorBoxes{
    padding-left: 0px;
    padding-right: 0px;
}
.hFeatures{
    color: rgb(1, 121, 111);
    font-size: 12 pt;
    text-align: center;
    font-weight: bold;
    /* margin-top: 73px; */
    margin-bottom: 49px;
}
.flexFeatures{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.secPortfolio{
    margin-bottom: 100px;
}
.divIconFeatures{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid  rgb(145, 139, 139);
    border-radius: 10px;
    padding:10px 15px;
    margin-left: 20px;
    margin-bottom: 10px;

}
.iconFeatures{
    width: 40px;
}
.hTxtFeatures{
    color: rgb(1, 121, 111);
    text-align: right;
}
.pFeatures{
    text-align: right;
    color: rgb(112, 117, 120);
    max-width: 309px;
}
.secFeatures{
    margin-bottom: 100px;
}
.descAbout{
    color: rgb(112, 117, 120);
    text-align: center;
    /* padding-left: 180px;
    padding-right: 180px; */
    font-size: 14px;
}
.headSectors{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;

}
.secBoxesColors{
    margin-bottom: 100px;
}
.hHeadSectors{
    color: rgb(1, 121, 111);
    text-align: center;
}
.btnHeadSectors{
    background-color:rgb(1, 121, 111) ;
    border: none;
    border-radius:6px;
    padding: 8px 20px;
    color: #fff;
    margin-bottom: 15px;
    cursor: pointer;
}
.backIconAbout{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color:rgb(1, 121, 111) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.backIconAbout img{
    width: 50px;
}
.divSector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.pDivSector{
    font-size: 14.5px;
    color: rgb(112, 117, 120);
    text-align: center;
    max-width: 315px;
}
.backIconAboutServices{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color:transparent ;
    border: 1px solid rgb(1, 121, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.backIconAboutServices img{
    width: 50px;
}
.hHeadSectorServices{
    color: rgb(61, 63, 92);
    text-align: center;
}
.secAbout{
    margin-bottom: 100px;
}
.secPortfolio{
    background-image: url(../img/backgroundPortfolio.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
}
.overImgPortfolio{
    background-color: rgb(61, 63, 92,0.8);
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 125px;
    padding-bottom: 40px;

}
.hPortfolio,.pPortfolio{
    text-align: right;
    color: #fff;
}
.pPortfolio{
    /* width:300px; */
    padding-right: 20px;
}
.imgSliderPortfolio{
    margin-bottom: 10px;
    /* width: 140px;
    margin-right: 90px !important; */
}
.imgSliderPortfolio img{
    width: 100%;
    height: auto;
}
.secPortfolio .overImgPortfolio .container .row .col-md-6 .col-lg-12 .client-logo-slider .owl-stage-outer .owl-stage .owl-item{
    margin-right: 111px !important;

}
.secPartiners .container .row .col-md-8 .row .col-lg-12 .client-logo-slider .owl-stage-outer .owl-stage{
    display: flex;
    align-items: center;
}

.owl-controls{
    position: absolute;
    top: 0px;
    right: -87px;
}
.owl-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    width: 20px;
    height: 20px;
    color: rgb(1, 121, 111);
    margin-right: 5px;
    margin-left: 10px;

}
.owl-next{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    width: 20px;
    height: 20px;
    color: rgb(1, 121, 111);
}
.divbtnHeadSectors{
    display: flex;
    justify-content: center;
}
.secPartiners{
    margin-top: 100px;
    background-image: -moz-linear-gradient( 45deg, rgb(26,127,104) 0%, rgb(0,166,107) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(26,127,104) 0%, rgb(0,166,107) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(26,127,104) 0%, rgb(0,166,107) 100%);
    padding-top: 30px;
    padding-bottom: 30px;

}
.pPartiners{
    color: rgb(224, 255, 18);  
    font-weight: bold;
    font-size: 20px; 
    text-align: right;
}
.secPartiners .container .row .col-md-8 .row .col-lg-12 .client-logo-slider .owl-controls{
    display: none !important;
}
.secPortfolio .overImgPortfolio .container .row .col-md-6 .col-lg-12 .client-logo-slider .owl-controls .owl-nav
{
    display: flex;
}
div .imgLayerParteners{
    width: 60px !important;
}
.divimgLayerParteners{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgLayerParteners{
    width: 100%;
    height: auto;
}
.sliderPortfolio .owl-stage-outer .owl-stage .owl-item .single-item{
    margin-right: 30px;
    /* margin-left: 30px; */
}
.footer{
    background-color: rgb(61, 63, 92);
    padding-top: 30px;
    padding-bottom: 30px;
}
.divIconsFooter a{
    color: #38f4b1 !important;
    text-align: center;
}
.pLogoFooter{
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.colLogoFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.headLinksFooter{
    color: #38f4b1;
    font-weight: bold;
    font-size: 18px;
}
.aLinksFooter{
    color: #fff;
}
.aLinksFooter:hover{
    color: #fff;
}
.pFooterEmail{
    color: #fff;
    font-size: 14px;
    text-align: right;
}
.divinputSearchfoot{
    max-width: 230px;
}
.searchFooter{
    border-radius: 21px;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
    position: relative;
    height: 30px;
    padding-right: 35px;
    outline: none;
}

.imgSearchIconFooter{
    position: absolute;
    width: 30px;
    margin-top: -30px;
    margin-right: 0px;
}
.imgSearchIconFooter img{
    width: 100%;
    height: auto;
}
.rowColsFooter{
    align-items: center;
    text-align: right;
}
.secPartiners .container .row .col-lg-12 .client-logo-slider .owl-controls .owl-nav{
    display: none;
}
.flextoggleBtn{
    display: flex;
    align-items: center;
}
.navbar-nav{
    text-align: right;
}
.iconHead{
    color: #fff;
    margin-left: 5px;
}
.nav-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.hTitlePage{
    color: #0A986A;
    font-family: Careem;
    font-weight: bold;
    text-align: right;
}
.contentPage{
    padding-top: 100px;
    padding-bottom: 100px;

}
.pAbout{
    color: #747474;
    text-align: right;
    margin-top: 20px;
}
.divImgAbout,.ImgAbout{
    width: 100%;
    height: auto;
}
.ImgAbout{
    border-radius: 8px;
    box-shadow: 2px 3px 24px 10px #d0d0d0;
    margin-bottom: 30px;
}
.boxServ{
    text-align: right;
    padding: 20px 20px;
    background-color:#45a58f2e ;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 200px;
    cursor: pointer;
}
.pServ{
    color:#747474d1;
}
.pTitleServ{
    color: #3d3f5c;
    font-size: 20px;
}
.divImgServ{
    margin-bottom: 10px;
    width: 60px;
}
.divImgServ img{
    width: 100%;
    height: auto;
}
.boxDesing{
    background-color: #eef8f5;
}
.boxMarketingServ{
    background-color: #3d3f5c26;
}
.boxTraining{
    background-color: #7070700f;
}
.contactusForm{
    text-align: right;
}
.divSocialcontact{   
text-align: right;
margin-top: 30px;
font-size: 14px;
color: #707070;
} 
.divIconsFooter i,.divIconsContact i{
    margin-left: 8px;
}
.divIconsContact a i{
    color: #0A986A !important;
}
.btnSendContact{
    color: #fff;
    outline: none;
}
.divimgPortfolio,.imgPortfolio{
    width: 100%;
    height: auto;
}
.imgPortfolio{
    border-radius: 8px;
    box-shadow: 2px 3px 24px 10px #d0d0d0;
    margin-top: 20px;
}
.navPagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.page-item:last-child .page-link{
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius:0px !important;
}
.page-item:first-child .page-link{
    margin-left: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.page-item.active .page-link{
    
    background-color: #3D3F5C;
    border-color:#3D3F5C;
}
.pagination .page-link{
    color: #3D3F5C;
}
#Top{
    display: none !important;
} 